.user-availability-container {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-availability-list {
  list-style-type: none;
  padding: 0;
}

.user-availability-item {
  font-size: 16px;
  margin: 8px 0;
  background-color: #f9f9f9;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-availability-item:hover {
  background-color: #e6e6e6;
}
.user-availability-buttons {
  text-align: center;
}

.button-container {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

button {
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
  margin-bottom: 10px;
}

button:focus {
  outline: none;
}

button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.available {
  background-color: #4caf50;
  color: white;
}

.not-available {
  background-color: #e56161;
}
